# Environments & Secrets
.env
__pycache__/
*.py[cod]
.venv/
venv/
env/
.pytest_cache/

# Project Specific
kin.egg-info/
.python-version

# Database & Migrations
*.db
versions/

# Logs
logs/
*.log
*.pid

# IDEs
.vscode/
.idea/*.log
